language: node_js
os:
  - linux
  - osx
node_js:
  - "6"

branches:
  only:
    - master
  
before_install:
  - "sed -i -e 's/\"autotest\": false/\"autotest\": true/g' .test.config.json"

matrix:
  fast_finish: true
